.header{
    max-height: 150px;
  
}

.mainTitle{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 2%;
    
}
.subTitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
    padding: 10%;
    position:relative;
    text-align: center;
    right: 11%;
    bottom: 50px;
    
}

.card{
    margin:5% ;
    width: 30%;
}

.cardTitle{
    padding:2%;
}

.footer{

}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    text-align: right;
    padding: 5%;
}

.modal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    
}
.sub{
    font-weight: lighter;
}
.modalButton{
    color: rgba(0,0,0,0.55);
}

.portfolioCard{
    width: 50%;
}

.icon{
    max-width: 18%;
}

.iconContainer{
    max-width: 20%;
}

.icon:hover{
}

