header{
    height: 10%;
}

.mainTitle{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 2%;
    padding: 1%
}
.subTitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 1%;
    position:relative;
    left: 8%;
    bottom: 50px
}

.card{
    margin:5% ;
    width: 30%;
}

.cardTitle{
    padding:2%;
}

.footer{

}

.title{
    font-size: 90px;
    position: relative;
    left: 30%;
}

.modalButton{
    color: rgba(0,0,0,0.55);
}

.portfolioCard{
    width: 50%;
}



.iconContainer{
    max-width: 20%;
}
.icon{
    max-width: 18%;
}